<div id="main_block" ng-init="initMaster()" >
    <h1 style="padding: 10px;padding-bottom: 20px">About Us</h1>

    It all started in the winter of 2013 with a simple, bold idea: make a better tea store.<br/>
    But, not just a better tea store – a better way of doing things.<br/> A new kind of tech company that works hand in hand with users to do something amazing, something meaningful.

    Believing that great products raise people’s living standards and spread happiness,<br/> we bring technology back to the community by building an open and collaborative platform.<br/>
    Fame and profits alone seldom equal respect. <br/>Respect comes from doing right things the right way and building something that matters<br/>

</div>